@model DotNetStackUnderFlow.Entities.Response

@{
    ViewData["Title"] = "Edit";
}

<h2>Vote/Mark As Solution/Edit</h2>
<script>
    function upVote() {
        document.getElementById("upVote").value++;
        alert("Thanks for voting!");
        document.getElementById("hiddenSave").click();
    }
    function downVote() {
        document.getElementById("downVote").value++;
        alert("Thanks for voting!");
        document.getElementById("hiddenSave").click();
    }
</script>
<h4>Response</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSolution" /> @Html.DisplayNameFor(model => model.IsSolution)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UpVotes" class="control-label"></label>
                <input asp-for="UpVotes" class="form-control" id="upVote" readonly />
                <span asp-validation-for="UpVotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownVotes" class="control-label"></label>
                <input asp-for="DownVotes" class="form-control"id="downVote" readonly/>
                <span asp-validation-for="DownVotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="hiddenSave" class="btn btn-default" />
            </div>
        </form>
        <button onclick="upVote()" class="btn btn-info btn-lg"> UpVote</button>
        <button onclick="downVote()" class="btn btn-danger btn-lg"> DownVote</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
