@model DotNetStackUnderFlow.Entities.Question

@{
    ViewData["Title"] = "Edit";
}

<h2>Vote/Mark As Solution/Edit</h2>
<script>
    function upVote() {
        document.getElementById("upVote").value++;
        alert("Thanks for voting!");
        document.getElementById("hiddenSave").click();
    }
    function downVote() {
        document.getElementById("downVote").value++;
        alert("Thanks for voting!");
        document.getElementById("hiddenSave").click();
    }
</script>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpVotes" class="control-label"></label>
                <input readonly asp-for="UpVotes" class="form-control" id="upVote" />
                <span asp-validation-for="UpVotes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DownVotes" class="control-label"></label>
                <input readonly asp-for="DownVotes" id="downVote" class="form-control" />
                <span asp-validation-for="DownVotes" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="hiddenSave" class="btn btn-default" />
            </div>
        </form>
        <button onclick="upVote()" class="btn btn-info btn-lg"> UpVote</button>
        <button onclick="downVote()" class="btn btn-danger btn-lg"> DownVote</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
